genes
Cyp2e1
Glul
Oat
Gulo
Ass1
Hamp
Gstp1
Ubb
Selenbp2
Sds
Cyp2f2
Pck1
Hal
Il2rb
Cxcr6
Gzma
Csf3r
S100a6
Pkhd1
Sox9
Epcam
Krt7
Krt19
Irf8
Itgax
Clec4f
Csf1r
Jchain
Cd79a
Cd79b
Top2a
Stab2
Kdr
Aqp1
Fcgr2b
Gpr182
Ebf1
Skap1
Ptprc
Ank3
Dcn
Colec11
Ecm1
Alb
Ttr
Apoa1
Serpina1c
mt-Atp6
mt-Atp8
mt-Co3
mt-Co1
mt-Co2
mt-Nd2
mt-Nd4
mt-Cytb
mt-Nd1
mt-Nd3
mt-Nd4l
mt-Nd5
mt-Nd6
