includeConfig 'pipeline.config'

process {
    executor = 'sge'  
    process.scratch = true
    penv = 'smp'
    // TODO: not for all is required 200G of space. Remove
    // scratch_free and add it as string interpolation: 
    // clusterOption process.clusterOptions+" -l scrath_free=200G"
    // clusterOptions="-P ${params.scc_project} -l scratch_free=300G"
    clusterOptions="-P ${params.scc_project}"
}
